<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li><a href="#" (click)="navigateMenu('recipe')">Recipes</a></li>
                <li><a href="#" (click)="navigateMenu('shopping')">Shopping List</a></li> -->
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!(authState|async).authenticated">
                    <li><a routerLink="/signin">Login</a></li>
                    <li><a routerLink="/signup">Register</a></li>
                </ng-template>
                <li *ngIf="(authState|async).authenticated"><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
                <li class="dropdown" appDropdown *ngIf="(authState|async).authenticated">
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="saveData()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="fetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>