<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="saveRecipe()">
        <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary" [disabled]="!recipeEditForm.valid">Add</button>
              <button type="button" class="btn btn-danger" (click)="cancelRecipeEdit()">Cancel</button>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Recipe Name: </label>
              <input type="text" id="name" class="form-control" formControlName="name" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                <label for="imagePath">Image Path: </label>
                <input type="text" id="imagePath" class="form-control"  formControlName="imagePath" #imagePath />
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <img [src]="imagePath.value" class="img-responsive">
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="name">Description: </label>
                  <textarea id="description" rows="6" class="form-control" formControlName="description"></textarea>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12" formArrayName="ingredients">
                <div class="row" *ngFor="let ingred of getControls();let i=index"
                  [formGroupName]="i" style="padding: 5px;">
                  <div class="col-xs-8">
                    <input type="text" class="form-control" formControlName="name" />
                  </div>
                  <div class="col-xs-2">
                      <input type="number" class="form-control" formControlName="amount" />
                  </div>
                  <div class="col-xs-2">
                      <button type="button" class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
                  </div>
                </div>
            </div>
          </div>
    </form>
  </div>
</div>