<form (ngSubmit)="registerUser(f)" #f="ngForm">
  <div class="col-xs-12 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" name="email" ngModel />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" ngModel />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>