<div class="row">
  <div class="col-md-12">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of (shoppingListState|async).ingredients;let i=index;"
      (click)="onEdit(i)">
        {{ingredient.name}}({{ingredient.amount}})
      </a>
    </ul>
  </div>
</div>