<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeItem.imagePath" alt="{{recipeItem.name}}" class="img-responsive" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeItem.name}}</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="addIngredientsToShopping()">Add Ingredients</a></li>
          <li><a style="cursor: pointer;" [routerLink]="['edit']">Edit Recipe</a></li>
          <li><a style="cursor: pointer;" (click)="deleteRecipe()" routerLink="/recipes">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{recipeItem.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li class="list-group-item" *ngFor="let ingredient of recipeItem.ingredients">
          {{ingredient.name}} - {{ingredient.amount}}
        </li>
      </ul>
    </div>
  </div>